<%= render "categories/taskbg", category: @category %>

<div class="container">
<div class="modal" tabindex="-1" role="dialog" style="display: block; background-color: rgb(0,0,0,.5)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>
</div>